body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6f9;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #003366;
    text-align: center;
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.task input,
.task textarea {
    width: 95%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    font-family: inherit;
    display: block;
}


.task-input button {
    padding: 10px;
    font-size: 16px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.task-input button:hover {
    background: #0055aa;
}

#taskList {
    margin-top: 10px;
}

.task {
    background: #fafafa;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.task:hover {
    transform: translateY(-3px);
}

.task h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #222;
}

.task p {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #555;
}

.task button {
    margin-right: 8px;
    border-radius: 6px;
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.task button:hover {
    opacity: 0.85;
}

.completed {
    text-decoration: line-through;
    color: #fff;               
    background-color: #50C878; 
    border-radius: 6px;
    padding: 4px;
    transition: background 0.3s, color 0.3s;
}
